.border-radius(@param){
	border-radius:@param;
	-moz-border-radius:@param;
	-webkit-border-radius:@param;
}
.border-bottom-left-radius(@param){
	border-bottom-left-radius:@param;
	-moz-border-bottom-left-radius:@param;
	-webkit-border-bottom-left-radius:@param;
}
.border-bottom-right-radius(@param){
	border-bottom-right-radius:@param;
	-moz-border-bottom-right-radius:@param;
	-webkit-border-bottom-right-radius:@param;
}
.box-shadow(@param){
	-webkit-box-shadow: @param;
	-moz-box-shadow: @param;
	box-shadow: @param;
}