body{
	background-color: @c-gray;
	font-family: 'gRegular';

	&.gray-bg{
		background-color: @c-gray;
	}

	&.white-bg{
		background-color: @c-white;
	}
}

h1,h2,h3,h4,h5,h6{
	font-family: 'gBlack';
}
a{
	text-decoration:none !important;
}

.sub{
	background: @c-white;
	header{
		background-color: @c-black;
		padding:30px 0;
		#logo{
			color:@c-white;
		}
		nav{
			top:25px;
		}
		.container{
			border-bottom:solid 1px @c-gray9;
			padding-bottom: 30px;
			padding-left: 0;
			padding-right: 0;
		}
	}
	footer{
		margin-top:200px;
		z-index: 1;
	}
}

header{
	padding-top:25px;
	position: relative;
	z-index: 1;
	#logo{
		img{}
		display: inline-block;
		color:@c-black;
		font-size:44px;
		font-family:'gBold';
	}
	nav{
		float:right;
		position: relative;
		top:10px;
		ul{
			margin:0;
			padding:0;
			display: inline-block;
			li{
				display: inline-block;
				list-style: none;
				margin:0 25px;
				&:first-child{
					margin-left:0;
				}
				&:last-child{
					margin-right:0;
				}
				a{
					color:@c-gray2;
					font-size:18px;
				}


				&.has-sub{
					position: relative;
					img{
						position: relative;
						top:-2px;
						left:5px;
					}
					ul{
						position: absolute;
						background:@c-white;
						width: 200px;
						.border-radius(10px);
						padding:10px 0;
						margin:0 0 0 -75px;
						display: none;
						li{
							margin:0;
							padding:0;
							width: 100%;
							a{
								padding:5px 20px;
								display: inline-block;
								width: 100%;
								&:hover{
									color:@c-blue;
								}
							}
						}
					}
				}

			}
		}
	}
}
article{
	section{
		background-color: @c-white;
		display: inline-block;
		width: 100%;

		&.slide-section,
		&.three-boxs{
			background-color: @c-gray;
		}

		&.slide-section{
			position: relative;
			.slide-wrap{
				margin:330px 0 0 0;
				width: 100%;
				float: left;
				.slide-item{
					h5,h6,p{
						position: relative;
						z-index: 1;
					}
					h5{font-size:32px; color:@c-gray2;}
					h6{font-size:72px; color:@c-black; font-weight: bold;}
					p{font-size:22px; color:@c-gray3;}

					img{
						position: absolute;
						right: 0;
						top:-441px;
						width: 1100px;
					}
				}

				position: static;
				overflow: visible;

				.swiper-wrapper{
					position: static;
					overflow: visible;
					.swiper-slide{
						&:not(.swiper-slide-active){
							opacity: 0 !important;
						}
						.text-wrap{
							width: 50%;
						}

						.animated{
							opacity: 0;
						}
					}
				}


			}
			.custom-pagi{
				display: none;
			}
			a{
				width: 415px;
				height: 100%;
				display: inline-block;
				background-color: @c-blue;
				text-align:right;
				float: left;
				box-sizing: border-box;
				color:@c-white;
				.border-radius(70px);
				overflow: hidden;
				position: relative;
				z-index: 1;
				.transition(0.5s);
				margin:50px 0 0 0;

				&:hover{
					background-color:@c-blue2;
				}


				span{
					width: 105px;
					display: inline-block;
					.transition(0.5s);

					&.text{
						width: auto;
						float: left;
						margin:28px 0;
						padding-left: 40px;
						font-size:22px;
						position: absolute;
						left:0;
					}

					&.prev,
					&.next{
						height: 90px;
						color:@c-blue;
						text-align:center;
						padding:30px 0;
						cursor: pointer;
						background: @c-white center center no-repeat;
						float:right;
						img{
								.transition(0.5s);
						}
						&:hover{
							&.prev{
								img{
									.translateX(-10px)
								}
							}
							&.next{
								img{
									.translateX(10px)
								}
							}
						}
					}

					&.prev{
						.border-bottom-left-radius(40px);
					}
					&.next{
						border-left:solid 1px @c-gray4;
					}




				}
			}
		}
		&.three-boxs{
			margin:250px 0 0 0;
			padding:0 0 410px 0;
			background:url('/_assets/img/background-shape-middle.jpg') center bottom no-repeat;

			.box-item{
				text-align:center;

				.item-wrap{
					width: 376px;
					margin:0 auto;

					&.push-right{float:right;}
					&.push-left{float:left;}
				}


				.image-wrap{
					max-height: 220px;
					display: inline-block;
					.border-radius(10px);
					.box-shadow(0px 0px 10px #d1dae0);
					overflow: hidden;
					margin: 0 0 53px 0;

					img{
						width: 100%;
						height: auto;
					}
				}
				h3{margin:0; padding:0; font-size:24px; color:@c-black; font-family: 'gBold'; .transition(0.5s); }
				p{margin:0; padding:0 50px; font-size:18px; color:@c-gray5; margin:20px 0 0 0;}
				&:hover{
					h3{
						.translateY(-10px);
					}
				}
			}
		}


		&.slide-section-middle{
			position: relative;
			overflow: hidden;
			padding-bottom: 100px;
			h2{
				position: relative;
				top:80px;
				font-size:38px;
			}
			.slide-wrap{
				overflow: visible;
				margin-top:160px;
				padding-bottom: 50px;
					.box-item{
						background-color: @c-white;
						padding: 40px;
						position: relative;
						width:376px !important;
						margin:0 30px 0 0;
						.border-radius(10px);
						.box-shadow(0px 0px 70px #d1dae0);
						box-sizing:border-box;

						.transition(0.5s);
						&:hover{
							.scale(1.1);
							z-index: 2;
							a{
								opacity: 1;
							}
						}

						img{
							width: 100%;

						}
						h3{
							font-weight: bold;
							font-size:22px;
							color:@c-black2;
							border-top:solid 1px @c-gray;
							padding-top:20px;
							margin-top:5px;
						}
						p{
							font-size:16px;
							color:@c-gray5;
						}
						a{
							display: inline-block;
							left:0;
							bottom: -40px;
							width: 100%;
							height: 110px;
							color:@c-white;
							box-sizing: border-box;
							padding:40px 20px;
							font-size:18px;
							.border-bottom-left-radius(20px);
							.border-bottom-right-radius(20px);
							position: absolute;
							bottom: -110px;
							background:url('/_assets/img/arrow-detail.png') @c-blue right 30px center no-repeat;
							opacity: 0;
							.transition(0.5s);
						}
					}

					.custom-pagi{
						display: none;
					}
			}

			.slide-arrow{
				width: 210px;
				height: 90px;
				float:right;
				background-color:@c-white;
				.border-radius(70px);
				.box-shadow(0 0 10px #d1dae0);
				overflow: hidden;
				position: relative;
				z-index: 2;

				span{
					cursor: pointer;
					display: inline-block;
					float: left;
					width: 50%;
					height: 100%;
					border-left:solid 1px @c-gray4;
					cursor: pointer;
					background: center center no-repeat;
					opacity: 0.5;
					.transition(0.5s);

					&:hover, &.active{
						opacity: 1;
					}
				}
				.prev{background-image:url('/_assets/img/arrow-left.png');}
				.next{background-image:url('/_assets/img/arrow-right.png');}


			}
		}

		&.image-wrap{
			padding:230px 0 0 0;
			margin-top:-20px;
			.container{
				position: relative;
			}

			.sub-image-wrap{
				display: inline-block;
				width: 1600px;
				height: 1000px;
				background-image: url('/_assets/img/bottom-image.png');
				background-size: 100%;
				background-position:center center;
				.border-radius(50px);
				overflow: hidden;
			}

			h2,p,a{
				position: absolute;
				left:0;
				top:0;
				z-index: 1;
				width: 100%;
				text-align:center;
				color:@c-white;
			}
			h2{font-size:72px;margin-top:120px;}
			p{font-size:22px;margin-top:240px;}
			a{
				font-size:22px;
				display: inline-block;
				margin-bottom:120px;
				height: 95px;
				line-height: 95px;
				.border-radius(300px);
				width: 300px;
				background-color:rgba(255, 255, 253, 0.09);
				color:@c-gray8;
				left:50%;
				margin:0 0 0 -150px;
				top:auto;
				bottom: 210px;
				font-family: 'gRegular';
				.transition(0.5s);
				&:hover{
					background-color:@c-white;
				}
			}
		}

		&.slide-section-bottom{
			padding:250px 0 550px 0;
			position: relative;
			overflow: hidden;

			.left-wrap{
				position: relative;
				margin:285px 0 0 0;
				> * {
					position: relative;
					z-index: 3 !important;
				}

				&::before,
				&::after{
					content:'';
					position: absolute;
					width: 614px;
					height: 614px;
					left:-200px;
					border:solid 1px @c-gray6;
					.border-radius(100%);
				}
				&::before{
					top:-250px;
					z-index: 2;
					background: @c-white;
				}
				&::after{
					width: 942px;
					height: 942px;
					top:-400px;
				}
				h3,p{
					position: relative;
					z-index: 1;
				}
				h3{
					font-size: 38px;
					position: relative;
					&::before{
						content:'';
						width: 190px;
						height: 167px;
						position: absolute;
						left:0;
						top:0;
						margin:-140px 0 0 0;
						background:url('/_assets/img/seperate-shape.png');
					}
				}
				p{
					font-family: 'gMedium';
					font-size: 16px;
					color:@c-gray5;
					padding:20px 150px 0 0;
				}
			}

			.right-wrap{
				.slide-arrow{
					width: 210px;
					height: 90px;
					float:right;
					background-color:@c-white;

					.border-radius(70px);
					.box-shadow(0 0 50px #d1dae0);
					overflow: hidden;

					span{
						cursor: pointer;
						display: inline-block;
						float: left;
						width: 50%;
						height: 100%;
						border-left:solid 1px @c-gray4;
						cursor: pointer;
						background: center center no-repeat;
						opacity: 0.5;
						.transition(0.5s);

						&:hover, &.active{
							opacity: 1;
						}
					}
					.prev{background-image:url('/_assets/img/arrow-left.png');}
					.next{background-image:url('/_assets/img/arrow-right.png');}


				}

				.slide-wrap{
					margin:180px 0 0 0;
					overflow: visible;
					.slide-item{
						background-color: @c-white;
						text-align:center;
						padding:45px 80px;
						width: 376px !important;
						margin:0 30px 0 0;
						box-sizing:border-box;
						.transition(0.5s);
						&:hover{
							.scale(1.1);
							z-index: 2;
						}

						.border-radius(20px);
						.box-shadow(0 0px 50px #d1dae0);
						padding:70px 20px;
							h4{font-size:22px;color:@c-black2;}
							p{font-size:16px;color:@c-gray2;}
					}
				}

			}

			a{
				width: 334px;
				height: auto;
				display: inline-block;
				background-color:@c-blue;
				color:@c-white;
				text-align: center;
				padding:35px 0;
				.border-radius(50px);
				font-size: 22px;
				margin:100px auto 0 auto;
				position: relative;
				z-index: 1;
				.transition(0.5s);
				.box-shadow(0 0px 50px #d1dae0);

				&:hover{
					background-color: @c-blue2;
				}
			}
		}

		&.sub-page-top{
			background-color: @c-black;
			text-align: center;
			padding:50px 0 80px 0;

			h1{
				font-size:38px;
				color:@c-gray2;

				> div{
					color:@c-white;
					display: inline-block;
					cursor: pointer;
					position: relative;
					> *{
						display: inline-block;
					}

					img{
						.transition(0.5s);
					}

					ul{
						position: absolute;
						left:0;
						top: 0;
						margin:70px 0 0 -50px;
						padding:0;
						background-color: @c-white;
						width: 262px;
						z-index: 2;
						.border-radius(10px);
						.box-shadow(0px 0px 10px #494949);
						padding:10px 0;
						display: none;
						li{
							list-style: none;
							float: left;
							display: inline-block;
							width: 100%;
							text-align:left;
							margin:0;
							padding:0;
							a{
								font-size:18px;
								color:@c-black;
								font-family:'gMedium';
								text-align:left;
								display: inline-block;
								width: 100%;
								margin:0;
								padding:10px 30px;
								float:left;
								.transition(0.5s);
								box-sizing:border-box;
								&:hover{
									background-color:@c-gray12;
								}
							}
						}
					}
				}


				&.active{
					> div{
						ul{
							display: inline-block;
						}
						img{
							.rotate(180deg);
						}
					}
				}

			}
		}

		&.sub-page-content{
			text-align: center;
			padding:150px 0 0 0;
			display: inline-block;
			width: 100%;
			background-color: @c-gray;
			position: relative;
			> *{
				position: relative;
				z-index: 1;
			}
			&.bottom-white::after{
				content:'';
				position: absolute;
				left: 0;
				bottom:0;
				width: 100%;
				height: 350px;
				background-color: @c-white;
				z-index: 0;
			}
			h2{
				font-size:72px;
				color:@c-black;
			}
			p{
				color:@c-gray5;
				font-size:22px;
				&.title{
					color:@c-black;
					margin:0 0 75px 0;
					position: relative;

					&::before{
						content:'';
						position: absolute;
						left:50%;
						bottom:-40px;
						background-color: @c-gray2;
						height: 2px;
						width: 93px;
						margin-left:-45px;
					}
				}
			}
			img{
				margin:150px;
			}


			.blog-wrap{
				display: inline-block;
				width: 100%;
				padding-bottom: 150px;
				.blog-item{
					background-color: @c-white;
					.box-shadow(0px 0px 10px #d1dae0);
					.border-radius(15px);
					text-align:left;
					box-sizing:border-box;
					padding: 35px;
					padding-bottom: 20px;

					h3{font-size:20px;}
					p{font-size:18px; padding:10px 0 0 0;}
					margin:0 0 20px 0;
					.transition(0.5s);

					&:hover{
						background-color:@c-blue;
						p{
							color:@c-white;
						}
					}

				}
			}

			&.contact{
				background-color: @c-white;
				.contact-wrap{
					margin-bottom: 50px;
				}
				#map{
					height: 626px;
					.border-radius(50px);
					overflow: hidden;
					margin:40px 0 60px 0;
					display: inline-block;
					width: 100%;

					iframe{
						width: 100%;
						height: 100%;
					}
				}

				a{
					background-color: @c-blue;
					font-size:22px;
					color:@c-white;
					width: 304px;
					height: 95px;
					line-height:95px;
					display: inline-block;
					.border-radius(50px);
					font-family:'gLight';
					.transition(0.5s);
					.box-shadow(0 0px 50px #d1dae0);

					&:hover{
						background-color: @c-blue2;
					}
				}

			}

			&.list{
				background-color: @c-white;
				.list-wrap{
					padding: 0 0 200px 0;
					.list-item{
						width: 95%;
						margin:0 auto 50px auto;
						background-color: @c-white;
						padding: 0 0 20px 0;
						.box-shadow(0 0 50px #d1dae0);
						.border-radius(20px);
						position: relative;

						> *{
							.transition(0.5s);
						}

						&::after{
							content:'';
							position: absolute;
							left:0;
							bottom: 0;
							width: 100%;
							height: 45%;
							background-color: @c-blue;
							opacity: 0;
							.transition(0.5s);
							.border-radius(20px);
							border-top-left-radius:0;
							border-top-right-radius:0;
						}

							display: inline-block;
							color:@c-gray5;
							img{
								margin: 20px 0 20px 0;
								width: 100%;
							}
							span{
								display: inline-block;
								width: 100%;
								text-align:left;
								padding:0 30px;
								&.title{font-size:18px; margin: 0 0 10px 0; padding-top:20px; border-top:solid 1px @c-gray;}
								&.text{font-size:16px;}
							}
							
							.info{
								display: inline-block;
								width: 100%;
								padding:50px 0 0 0;
								.price,
								.detail{
									display: block;
									width: 50%;
								}
								.price{
									font-size:29px;
									font-family:'gBold';
									color:@c-black2;
									text-align: left;
									float:left;
								}
								.detail{
									float:right;
									width:57px;
									height:57px;
									.border-radius(100%);
									margin-right:30px;
									background:url('/_assets/img/arrow-detail.png') @c-blue no-repeat center center;
									.transition(0.5s);
								}
							}

						&:hover{
							> *{
								position: relative;
								z-index: 1;
								color:@c-white;
							}
							.box-shadow(0 0 80px #d1dae0);
							span{
								&.title{
									border-color:transparent;
								}
							}
							.info{
								.price{
									color:@c-white;
								}
								.detail{
									.translateY(-185px);
								}
							}
							&::after{
								opacity: 1;
							}
						}
					}
				}
			}

			&.detail{
				padding-top: 0;
				background-color: @c-white;
				.detail-top{
					background-color: @c-gray;
					padding: 80px 0;
					.container{
						position: relative;
					}
					a{
						&.back{
							float:right;
							background:url('/_assets/img/arrow-back.png') no-repeat center left 30px;
							.box-shadow(0px 0px 50px #d1dae0);
							.border-radius(50px);
							background-color: @c-white;
							width: 198px;
							height: 60px;
							line-height:60px;
							color:@c-black;
							font-family:'gBold';
							font-size:18px;
							box-sizing:border-box;
							padding-left: 20px;
							.transition(0.5s);
							margin:-20px 0 0 0;
							position: absolute;
							top:0;
							right: 0;

							&:hover{
								background-position: left 25px center;
							}

						}
					}

					.left{
						text-align:left;
						h2{
							padding: 0;
							margin: 0 0 40px 0;
							font-size:30px;
						}
						.image-wrap{
							width: 784px;
							height: 706px;
							.box-shadow(0px 0px 10px #d1dae0);
							.border-radius(15px);
							background-color: @c-white;
							text-align:center;


							.big{
								margin:50px;
								padding: 0;
								width: 580px;
							}
							ul{
								margin:0 7%;
								padding: 0;
								display: inline-block;
								width: 93%;
								position: relative;
								overflow: hidden;
								height: 100px;
								li{
									width: 120px;
									height: 100px;
									.border-radius(15px);
									border:solid 1px @c-gray;
									float: left;
									margin:0 20px 0 0;
									list-style: none;
									overflow: hidden;
									cursor: pointer;

									img{
										margin:0;
										padding: 0;
										width: 95%;
										.transition(0.5s);

										&:hover{
											.scale(0.7);
										}
									}
								}
							}
						}
					}
					.right{
						margin:100px 0 0 0;
						padding-left: 30px;
						table{
							width: 60%;
							tbody{
								tr{
									td{
										border-bottom:Solid 1px @c-gray10;
										text-align:left;
										font-size:20px;
										padding:10px 0;
										font-family:'gBold';
										&:first-child{ color:@c-gray2; font-family:'gRegular';}

									}
								}
							}
						}

						.price{
							font-size:50px;
							font-family:'gBlack';
							color:@c-black;
							float: left;
							display: inline-block;
							width: 100%;
							text-align:left;
							margin:50px 0;
						}
						.detail-form{
							width: 376px;
							height: 95px;
							line-height: 95px;
							color:@c-white;
							font-family:'gMedium';
							float:left;
							text-align:Center;
							background-color: @c-blue;
							.border-radius(50px);
							font-size:28px;
							.transition(0.5s);

							&:hover{
								background-color: @c-blue2;
							}
						}

					}

				}

				.detail-bottom{
					background-color: @c-white;
					padding: 80px 0;
					margin-bottom: 100px;
					text-align:left;

					h3{
						font-size:38px;
						font-family:'gBlack';
						margin:0 0 50px 0;
					}
					p{
						font-size:22px;
						color:@c-gray5;
						strong{
							font-family:'gBold';
							color:@c-black;
						}
					}

					.big{
					}

					.product-detail{
						border-top:solid 1px @c-gray;
						padding-top:100px;
						.right{

							.row{
								> div{
									&:nth-child(2){
										border-left:solid 1px @c-gray11;
										border-right:solid 1px @c-gray11;
									}
								}
							}
							span{
								font-family:'gBold';
								color:@c-black;
								display: inline-block;
								width: 100%;
								text-align:center;
								line-height:normal;

								&.level-1{font-size:16px;}
								&.level-2{font-size:92px; line-height:80px}
								&.level-3{font-size:22px;}
								sup{
									font-size:42px;
									position: relative;
									top:0px;
								}
							}
						}
					}

				}

			}

		}

	}
}

footer{
	background-color: @c-black;
	position: relative;

	&::before{
		content:'';
		width: 100%;
		height: 239px;
		background:url('/_assets/img/footer-bg-shape.png') transparent;
		top:-239px;
		position: absolute;
		background-size:cover;
	}
	a{
		color:@c-white;
	}
	h4{
		font-size:30px;
		color:@c-white;
		margin:0 0 20px 0;
		padding:0;
		font-family:'gRegular';
	}
	.t-right{
		h4{
			width: 100%;
			display: inline-block;
			text-align:right;
		}
		a{
			width: 100%;
			text-align:right;
			display: inline-block;
			font-size:20px;
			color:@c-gray7;

			&.phone{
				img{
				position: relative;
				left:-10px;
				}
				&.whatsapp img{
					left:-15px;
				}
			}
		}
	}
	ul{
		margin:0;
		padding:0;
		li{
			list-style: none;
			float: left;
			width: 33.3%;
			display: inline-block;
			margin:0 0 20px 0;
			a{
				font-size:20px;
				color:@c-gray7;
			}
		}
	}
	.two-list{
		ul{
			li{
				width: 100%;
			}
		}
	}

	p{
		color:@c-gray7;
		font-size:20px;
		text-align:right;
		&.copy-right{
			width: 100%;
			text-align: center;
			border-top:Solid 1px @c-gray7;
			font-size:16px;
			padding:60px 0;
			margin:50px 0 0 0;
		}
	}


}